body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden; /* Para ocultar a barra de rolagem horizontal, se necessário */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  background-color: #a0a0a0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  z-index: 1; /* Garante que a barra lateral esteja na frente do conteúdo */
  border-right: 1px transparent;
  animation: slideInLeft 1s ease-out;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebar ul li {
  padding: 10px;
  animation: fadeInLeft 1s ease-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sidebar h2 {
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  animation: pulse 2s infinite, color-change 5s infinite alternate;
  font-size: 40px;
}

@keyframes pulse {
  0% { transform: scale(0.9); }
  50% { transform: scale(1); }
  100% { transform: scale(0.9); }
}

@keyframes color-change {
  0% { color: #0000FF; } /* Cor inicial: azul */
  100% { color: #00FFFF; } /* Cor final: ciano */
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  font-family: 'Kanit', sans-serif; /* Definindo a fonte para Roboto */
  
}

#audio-controls {
  margin-top: 10px;
}


.sidebar ul li button:active {
  background-color: #00b7ff; /* Cor de fundo destacada quando clicado */
  color: #ffffff; /* Cor do texto destacada quando clicado */
}




/* Estilos do conteúdo */
.content {
  padding: 20px;
  margin-left: 220px; /* Largura da barra lateral + margem */
  z-index: 0; /* Garante que o conteúdo esteja atrás da barra lateral */
  animation: slideInRight 1s ease-out;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
  text-align: center;
  margin: 20px 0;
  animation: fadeInUp 3.5s ease-out, pulse 4s infinite; /* Aplicando a animação de pulsação */
  font-family: "Kanit", sans-serif;
  
}

@keyframes pulse {
  0% { transform: scale(0.9); }
  50% { transform: scale(1); }
  100% { transform: scale(0.9); }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.patches-container {
  max-width: calc(800px - 220px); /* Largura máxima ajustada para acomodar a largura do menu lateral */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.patch-content, .patch-details {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.patch-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #313131;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}


.patch-button:last-child {
  margin-right: 0;
}

.patch-button:hover {
  background-color: #0b00a8;
}

.patch-content {
  display: none;
  margin-top: 20px;
  overflow: auto; /* Adiciona uma barra de rolagem quando o conteúdo excede o tamanho do contêiner */
  margin-left: 240px; /* Ajusta a margem para garantir que o conteúdo não fique sob a barra lateral */
  max-width: calc(800px - 240px); /* Largura máxima ajustada para acomodar a barra lateral */
}

.patch-content.active {
  display: block;
}

.patch-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  word-wrap: break-word; /* Permite que as palavras sejam quebradas em várias linhas */
}

.patch-content p {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word; /* Permite que as palavras sejam quebradas em várias linhas */
}

.patch-details {
  display: none;
  background-color: rgba(167, 167, 167, 0.8); /* Cor de fundo com opacidade reduzida */
  border: 1px solid rgb(44, 0, 0);
  padding: 20px;
  max-width: 760px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Estilos do botão Detalhes das Patches */
.acabar {
  font-family: "Nunito", sans-serif;
  background-color: #757575;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor de fundo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
  animation: fadeIn 1s ease-out;
}

.acabar:hover {
  background-color: rgb(94, 0, 218);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.made-by-dark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #000000;
  font-size: 12px;
  opacity: 0.7; /* Ajuste a opacidade conforme necessário */
}
